<div id="<%= dom_id chop %>">
  <p>
    <strong>Solve:</strong>
    <%= chop.solve %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= chop.solution %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= chop.category_id%> -
    <%= chop.category[:name]%>
  </p>

  </p>
</div>
