<font size="8px" style="font-family:georgia,garamond,serif;letter-spacing:6px;padding:8px;padding">CodeChops</font>
<br>
<font size="2px" style="font-family:georgia,garamond,serif;letter-spacing:1px;color:red;padding-left:8px;">| Ruby |</font><font size="2px" style="font-family:georgia,garamond,serif;letter-spacing:4px;color:red;padding:5px">SKILLS PRACTICE</font>
<br>
<br>
<hr>
  <%= link_to "Create chop", new_chop_path %> | <%= link_to 'Create category', new_category_path %> | <%= link_to "Show categories & contents", categories_path%>
<hr>
<font size:12pt, style="font-family:georgia,garamond,serif;letter-spacing:2px;color:red;padding:3px">To edit or destroy chops: click on 'Show this chop'</font>
<br>
<p style="color: green"><%= notice %></p>
<div id="chops">
  <% @chops.each do |chop| %>
    <%= render chop %>
    <p>
      <%= link_to "Show this chop", chop %>
    </p>
  <% end %>
</div>
<br>

