<font size="8px" style="font-family:georgia,garamond,serif;letter-spacing:6px;padding:8px;padding">CodeChops</font>
<br>
<font size="2px" style="font-family:georgia,garamond,serif;letter-spacing:1px;color:red;padding-left:8px;">| Ruby |</font><font size="2px" style="font-family:georgia,garamond,serif;letter-spacing:4px;color:red;padding:5px">SKILLS PRACTICE</font>
<br>

<hr>
<p style="color: green"><%= notice %></p>

<%= render @chop %>

<div>
  <%= link_to "Edit this chop", edit_chop_path(@chop) %> |
  <%= link_to "List all chops", chops_path %> |
  <%= link_to "Create chop", new_chop_path %>
<hr>
  <%= button_to "Destroy this chop", @chop, method: :delete %>
<hr>
</div>
